html {
    overflow-y: scroll; /* mindig fenntart helyet a görgetősávnak */
}

:root {
    --bs-primary: #004d40; /* Sötétzöld */
    --bs-primary-rgb: 0, 77, 64;
    --bs-secondary: #00796b; /* Középzöld */
    --bs-light: #e0f2f1; /* Halvány zöldes árnyalat */
    --bs-body-bg: #f8f9fa; /* Marad a világos szürke */
    --bs-link-color: #004d40;
    --bs-link-hover-color: #00796b;
}

body {
    background-color: var(--bs-body-bg);
    padding-top: 100px; /* eltolás a magas navbar miatt */
}

/* Főoldali címsor (AppSheet kék) */
h1.display-5 {
    color: #3366FF;
}

.navbar {
    background-color: #ffffff !important;
}

/* Lenyitott accordion: világos Benetton zöld */
.accordion-button:not(.collapsed) {
    color: #ffffff;
    background-color: #00B140; /* Benetton zöld */
}

.accordion-button:focus {
    box-shadow: 0 0 0 0.25rem rgba(0, 177, 64, 0.25);
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
/* end */

/* Logo a címsor mellett */
.home-logo {
    height: 4em; /* 4x nagyobb a cím betűmérethez képest */
    width: auto;
    margin-right: 0.5rem;
    vertical-align: middle;
}

/* Nav brand logo */
.brand-logo {
    height: 80px; /* kétszeres méret */
    width: auto;
}
